@import "../scss/base/_reset.scss";
@font-face {
	font-family: Avenida;
	src: url('../fonts/UTM Avenida.ttf');
}
@font-face {
	font-family: Gradoo;
	src: url('../fonts/UTM Gradoo.ttf');
}
@font-face {
	font-family: Tahoma;
	src: url('../fonts/tahoma.ttf');
}


@mixin text($font, $size, $color){
	font-family: $font;
	font-size: $size;
	color: $color;
};

$maincolor: #333131;

.container{
	width: 100%;
	margin: auto;
	background-color: #FFF;
}
body{
	background: #d1cece;
	font-size: Tahoma;
}
header{
	@include text('Avenida', 50px, #FFF);
	text-align: center;
	background-color: $maincolor;
	height: 110px;
	line-height: 110px;
	position: relative;
	span{
		position: absolute;
		right: 20px;
		top: 5px;
		display: block;
	}
}
nav{
	display: none;
	font-family: Tahoma;
	ul{
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		li{
			a{
				display: block;
				border-top: 1px solid #e6e6e6;
				height: 50px;
				line-height: 50px;
				color: #333131;
				text-decoration: none;
				font-weight: bold;
				text-align: center;
				&:hover{
					background-color: #ed1c24;
					color: #FFF;
					transition: all .2s;
				}
			}
		}
	}
}
hr{
	background-color: $maincolor;
	height: 15px;
	display: block;
	margin-top: 0;
	border: none;
	margin-bottom: 0;
	&.x2{
		height: 30px;
	}
	&.red{
		background-color: #f90606;
	}
}
.box{
	padding: 0 20px;
	a{
		color: #7c6565;
		text-decoration: none !important;
		&:hover{
			color: $maincolor;
		}
	}
	h2{
		@include text('Avenida', 40px, $maincolor);
		text-align: center;
		margin: 15px 0;
	}
	.image{
		text-align: center;
		img{
		}
	}
	b{
		display: block;
		text-align: center;
		color: #7c6565;
		font-size: 18px;
		padding: 20px 0;
	}
	p{
		color: #7c6565;
		margin-top: 0;
	}
	ul{
		list-style-type: none;
		
		padding-left: 0;
		li{
			padding: 5px 0;
			img{
				display: inline-block;
				padding-right: 10px;
			}
		}
	}
}
img{
	max-width: 100%;
}
.banner{
	text-align: center;
}
footer{
	background-color: $maincolor;
	padding-top: 15px;
	color: #FFF;
	text-align: center;
	.footer{
		height: 50px;
		line-height: 50px;
	}
}