* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: Avenida;
  src: url("../fonts/UTM Avenida.ttf"); }

@font-face {
  font-family: Gradoo;
  src: url("../fonts/UTM Gradoo.ttf"); }

@font-face {
  font-family: Tahoma;
  src: url("../fonts/tahoma.ttf"); }

.container {
  width: 100%;
  margin: auto;
  background-color: #FFF; }

body {
  background: #d1cece;
  font-size: Tahoma; }

header {
  font-family: "Avenida";
  font-size: 50px;
  color: #FFF;
  text-align: center;
  background-color: #333131;
  height: 110px;
  line-height: 110px;
  position: relative; }
  header span {
    position: absolute;
    right: 20px;
    top: 5px;
    display: block; }

nav {
  display: none;
  font-family: Tahoma; }
  nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0; }
    nav ul li a {
      display: block;
      border-top: 1px solid #e6e6e6;
      height: 50px;
      line-height: 50px;
      color: #333131;
      text-decoration: none;
      font-weight: bold;
      text-align: center; }
      nav ul li a:hover {
        background-color: #ed1c24;
        color: #FFF;
        transition: all .2s; }

hr {
  background-color: #333131;
  height: 15px;
  display: block;
  margin-top: 0;
  border: none;
  margin-bottom: 0; }
  hr.x2 {
    height: 30px; }
  hr.red {
    background-color: #f90606; }

.box {
  padding: 0 20px; }
  .box a {
    color: #7c6565;
    text-decoration: none !important; }
    .box a:hover {
      color: #333131; }
  .box h2 {
    font-family: "Avenida";
    font-size: 40px;
    color: #333131;
    text-align: center;
    margin: 15px 0; }
  .box .image {
    text-align: center; }
  .box b {
    display: block;
    text-align: center;
    color: #7c6565;
    font-size: 18px;
    padding: 20px 0; }
  .box p {
    color: #7c6565;
    margin-top: 0; }
  .box ul {
    list-style-type: none;
    padding-left: 0; }
    .box ul li {
      padding: 5px 0; }
      .box ul li img {
        display: inline-block;
        padding-right: 10px; }

img {
  max-width: 100%; }

.banner {
  text-align: center; }

footer {
  background-color: #333131;
  padding-top: 15px;
  color: #FFF;
  text-align: center; }
  footer .footer {
    height: 50px;
    line-height: 50px; }
